.custom-padding-right {
  padding-right: var(--container-horizontal-padding);
}
.custom-padding-left {
  padding-left: var(--container-horizontal-padding);
}
@media (min-width: 640px) {
  .custom-padding-right {
    padding-right: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 640px) / 2
    );
  }
  .custom-padding-left {
    padding-left: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 640px) / 2
    );
  }
}
@media (min-width: 768px) {
  .custom-padding-right {
    padding-right: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 768px) / 2
    );
  }
  .custom-padding-left {
    padding-left: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 768px) / 2
    );
  }
}
@media (min-width: 1024px) {
  .custom-padding-right {
    padding-right: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1024px) / 2
    );
  }
  .custom-padding-left {
    padding-left: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1024px) / 2
    );
  }
}
@media (min-width: 1280px) {
  .custom-padding-right {
    padding-right: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1280px) / 2
    );
  }
  .custom-padding-left {
    padding-left: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1280px) / 2
    );
  }
}
@media (min-width: 1536px) {
  .custom-padding-right {
    padding-right: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1536px) / 2
    );
  }
  .custom-padding-left {
    padding-left: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1536px) / 2
    );
  }
}
