/* @TODO to be removed */

.CarouselLayout.swiper {
  padding: 0 0.5rem;
  @media (min-width: 640px) {
    padding: 0
      calc((100vw + (2 * var(--container-horizontal-padding)) - 640px) / 2);
    --swiper-navigation-sides-offset: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 640px) / 2
    );
  }
  @media (min-width: 768px) {
    padding: 0
      calc((100vw + (2 * var(--container-horizontal-padding)) - 768px) / 2);
    --swiper-navigation-sides-offset: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 768px) / 2
    );
  }
  @media (min-width: 1024px) {
    padding: 0
      calc((100vw + (2 * var(--container-horizontal-padding)) - 1024px) / 2);
    --swiper-navigation-sides-offset: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1024px) / 2
    );
  }
  @media (min-width: 1280px) {
    padding: 0
      calc((100vw + (2 * var(--container-horizontal-padding)) - 1280px) / 2);
    --swiper-navigation-sides-offset: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1280px) / 2
    );
  }
  @media (min-width: 1536px) {
    padding: 0
      calc((100vw + (2 * var(--container-horizontal-padding)) - 1536px) / 2);
    --swiper-navigation-sides-offset: calc(
      (100vw + (2 * var(--container-horizontal-padding)) - 1536px) / 2
    );
  }

  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-horizontal-gap: 3px;
  --swiper-theme-color: rgb(var(--primary-color-500));
}

.CarouselLayout .swiper-button-prev.swiper-button-disabled,
.CarouselLayout .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}
