.color-settings {
  --primary-color-50: #ecfdf5;
  --primary-color-100: #d1fae5;
  --primary-color-200: #a7f3d0;
  --primary-color-300: #6ee7b7;
  --primary-color-400: #34d399;
  --primary-color-500: #10b981;
  --primary-color-600: #059669;
  --primary-color-700: #047857;
  --primary-color-800: #065f46;
  --primary-color-900: #064e3b;
  --primary-color-950: #022c22;
  --secondary-color-50: #fefce8;
  --secondary-color-100: #fef9c3;
  --secondary-color-200: #fef08a;
  --secondary-color-300: #fde047;
  --secondary-color-400: #facc15;
  --secondary-color-500: #eab308;
  --secondary-color-600: #ca8a04;
  --secondary-color-700: #a16207;
  --secondary-color-800: #854d0e;
  --secondary-color-900: #713f12;
  --secondary-color-950: #422006;
}