.custom-padding-right {
  padding-right: 1rem;
}
.custom-padding-left {
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .custom-padding-right {
    padding-right: calc((100vw + 2rem - 640px)/2);
  }
  .custom-padding-left {
    padding-left: calc((100vw + 2rem - 640px)/2);
  }
}
@media (min-width: 768px) {
  .custom-padding-right {
    padding-right: calc((100vw + 2rem - 768px)/2);
  }
  .custom-padding-left {
    padding-left: calc((100vw + 2rem - 768px)/2);
  }
}
@media (min-width: 1024px) {
  .custom-padding-right {
    padding-right: calc((100vw + 2rem - 1024px)/2);
  }
  .custom-padding-left {
    padding-left: calc((100vw + 2rem - 1024px)/2);
  }
}
@media (min-width: 1280px) {
  .custom-padding-right {
    padding-right: calc((100vw + 2rem - 1280px)/2);
  }
  .custom-padding-left {
    padding-left: calc((100vw + 2rem - 1280px)/2);
  }
}
@media (min-width: 1536px) {
  .custom-padding-right {
    padding-right: calc((100vw + 2rem - 1536px)/2);
  }
  .custom-padding-left {
    padding-left: calc((100vw + 2rem - 1536px)/2);
  }
}