.swiper {
  overflow: visible !important;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-horizontal-gap: 3px;
  --swiper-pagination-bullet-inactive-color: #a3a3a3;
  --swiper-theme-color: rgb(var(--primary-color-500));
}

.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background: transparent;
  border: 2px solid var(--swiper-pagination-color, var(--swiper-theme-color))
}