.Trigger[data-state='active'] h3::before {
  width: 100%;
}


.Trigger[data-state='inactive'] * {
  opacity: 0.85;
}

.Trigger[data-state='inactive']:hover *{
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;
}