@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-heading: unset;
  --primary-color-50: #eff6ff;
  --primary-color-100: #dbeafe;
  --primary-color-200: #bfdbfe;
  --primary-color-300: #93c5fd;
  --primary-color-400: #60a5fa;
  --primary-color-500: #3b82f6;
  --primary-color-600: #2563eb;
  --primary-color-700: #1d4ed8;
  --primary-color-800: #1e40af;
  --primary-color-900: #1e3a8a;
  --primary-color-950: #172554;
  --secondary-color-50: #fff7ed;
  --secondary-color-100: #ffedd5;
  --secondary-color-200: #fed7aa;
  --secondary-color-300: #fdba74;
  --secondary-color-400: #fb923c;
  --secondary-color-500: #f97316;
  --secondary-color-600: #ea580c;
  --secondary-color-700: #c2410c;
  --secondary-color-800: #9a3412;
  --secondary-color-900: #7c2d12;
  --secondary-color-950: #431407;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.u-scroll-x::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.u-scroll-x {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.underline-hover-effect {
  color: currentColor;
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-out;
}

.underline-hover-effect:hover::before {
  width: 100%;
}

.font-heading {
  font-family: var(--font-heading);
}

/* @TODO: Heading highlighted words - Refactor needed */
h1 b, h2 b {
  @apply text-primary-500;
  font-style: normal;
  font-weight: unset;
}

/* @TODO Refactor - move into module CSS for CardList ? */
.show-scrollbar::-webkit-scrollbar {
  height: 5px; /* for Horizonatal scrollbar */
  width: 5px; /* for Vertical scrollbar */
  @apply bg-neutral-200
}

.show-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
  border-radius: 5px;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: grabbing;
}