@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-heading: unset;
    --primary-color-50: 239, 246, 255;
    --primary-color-100: 219, 234, 254;
    --primary-color-200: 191, 219, 254;
    --primary-color-300: 147, 197, 253;
    --primary-color-400: 96, 165, 250;
    --primary-color-500: 59, 130, 246;
    --primary-color-600: 37, 99, 235;
    --primary-color-700: 29, 78, 216;
    --primary-color-800: 30, 64, 175;
    --primary-color-900: 30, 58, 138;
    --primary-color-950: 23, 37, 84;
    --secondary-color-50: 255, 247, 237;
    --secondary-color-100: 255, 237, 213;
    --secondary-color-200: 254, 215, 170;
    --secondary-color-300: 253, 186, 116;
    --secondary-color-400: 251, 146, 60;
    --secondary-color-500: 249, 115, 22;
    --secondary-color-600: 234, 88, 12;
    --secondary-color-700: 194, 65, 12;
    --secondary-color-800: 154, 52, 18;
    --secondary-color-900: 124, 45, 18;
    --secondary-color-950: 67, 20, 7;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.u-scroll-x::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.u-scroll-x {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.underline-hover-effect {
  color: currentColor;
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-out;
}

.underline-hover-effect:hover::before {
  width: 100%;
}

.font-heading {
  font-family: var(--font-heading);
}

/* @TODO: Heading highlighted words - Refactor needed */
h1 b, h2 b {
  @apply text-primary-500;
  font-style: normal;
  font-weight: unset;
}

/* @TODO Refactor - move into module CSS for CardList ? */
.show-scrollbar::-webkit-scrollbar {
  height: 5px; /* for Horizonatal scrollbar */
  width: 5px; /* for Vertical scrollbar */
  @apply bg-neutral-200
}

.show-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
  border-radius: 5px;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: grabbing;
}