.color-settings {
  --primary-color-50: #ecfeff;
  --primary-color-100: #cffafe;
  --primary-color-200: #a5f3fc;
  --primary-color-300: #67e8f9;
  --primary-color-400: #22d3ee;
  --primary-color-500: #06b6d4;
  --primary-color-600: #0891b2;
  --primary-color-700: #0e7490;
  --primary-color-800: #155e75;
  --primary-color-900: #164e63;
  --primary-color-950: #083344;
  --secondary-color-50: #fefce8;
  --secondary-color-100: #fef9c3;
  --secondary-color-200: #fef08a;
  --secondary-color-300: #fde047;
  --secondary-color-400: #facc15;
  --secondary-color-500: #eab308;
  --secondary-color-600: #ca8a04;
  --secondary-color-700: #a16207;
  --secondary-color-800: #854d0e;
  --secondary-color-900: #713f12;
  --secondary-color-950: #422006;
}